{% extends 'base.html' %}

    {% block title %}Home Page{% endblock %}

    {% block content %}
        <div class="container">
            <div class="page-header">
                <h1>Hello World, Template</h1>
            </div>
            <!-- <hr>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form.name.label }}</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br> 
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.name.label }} {{ form.name() }}
                    {{ form.submit() }}
                </div>
            </form> -->
        </div>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}
    {% endblock %}
